.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* body {
  background: blue;
} */

.img {
  width:100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}
.book {
  display: flex;
}

.nehem {
  margin-left: 30%;
  color: #d3d3d3;
}